<!-- Modal Structure -->
<div class="modal-content">
  <h4>You Have Entered Tier Four</h4>
  <p>You are Within 500 feet!</p>
</div>
<div class="modal-footer">
  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Keep Searching</a>
</div>
