<div class="container" id="profile">
  <div class="row">
    <div class="col s4">
      <%= image_tag @user.profile_photo, class: "profile-photo" %>
    </div>
    <div class="col s8">
      <div class="card-panel teal">
        <h4>Past Bets</h4>
        <h5>Won</h5>
        bet 1<br>
        bet 2<br>
        bet 3<br>
        <h5>Lost</h5>
        bet 1<br>
        bet 2<br>
        bet 3<br>
      </div>
    </div>
  </div>

  <div class="row valign-wrapper">
    <ul class="collapsible col s12" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><span class="new badge">9</span><i class="material-icons">error_outline</i><p class="valign">findMe Requests</p></div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><span class="badge">1</span><i class="material-icons">live_help</i><p class="valign">Pending Responses</p></div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
    </ul>
  </div>

  <%= link_to "New Game", new_game_path, class: "btn" %>

</div>
