<div>
  <div id="logo-div">
    <h1 id="logo-text">find<br><%= image_tag "Monkey.png", class: "large-logo-pic" %>e</h1>
    <svg class="arrows">
			<path class="a1" d="M0 0 L30 32 L60 0"></path>
			<path class="a2" d="M0 20 L30 52 L60 20"></path>
			<path class="a3" d="M0 40 L30 72 L60 40"></path>
		</svg>
  </div>
</div>
<div class="white" id="container-one">
  <div class="black-text rule-one">
    <ul>
      <li class="heading">Pick A<br>Spot</li>
      <li class="heading">Send A Request</li>
      <li class="heading">Bet On It</li>
      <li class="heading">Game On!</li>
    </ul>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "shake_it.gif", class: "gif" %></div>
</div>
