<body id="welcome-page">
  <div id="logo-div">
    <h1 id="logo-text">find<br><%= image_tag "Monkey.png", class: "large-logo-pic" %>e</h1>
    <svg class="arrows">
			<path class="a1" d="M0 0 L30 32 L60 0"></path>
			<path class="a2" d="M0 20 L30 52 L60 20"></path>
			<path class="a3" d="M0 40 L30 72 L60 40"></path>
		</svg>
  </div>
</div>
<div>
  <div class="white-text rule-one">
    <ul class="rule-container">
      <li class="heading">Start a Game</li>
      <li class="subheading">Want one of your friends to meet up with you, but want to make things interesting? Send them a game request... and add a bet to it. Watch them head out on a hunt to find you.</li>
    </ul>
  </div>
</div>
<div>
  <div class="white-text rule-two">
    <ul class="rule-container">
      <li class="heading">Choose a Spot</li>
      <li class="subheading">When you initiate a new game, make sure you're at the location where you want to meetup. We'll grab your location and set the game in motion.</li>
    </ul>
  </div>
</div>
<div>
  <div class="white-text rule-three">
    <ul class="rule-container">
      <li class="heading">Pick a Friend</li>
      <li class="subheading">Sending a request to a friend is as easy as knowing thier username! Just make sure they already have an account with findMe.</li>
    </ul>
  </div>
</div>
<div>
  <div class="white-text rule-four">
    <ul class="rule-container">
      <li class="heading">Create a Wager</li>
      <li class="subheading">This is where it really gets fun. Choose how long your friend has to find you. What happens if they don't make it in time? Perhaps they'll have to buy you a drink, or run around the restaurant doing the chicken dance. Just remember, if they find you before time runs out, you're the one that has to complete the bet! So, how risky are you feeling today?</li>
    </ul>
  </div>
</div>

<div>
  <div class="white-text rule-five">
    <ul class="rule-container">
      <li class="heading">Game On!</li>
      <%= image_tag "shake_it.gif", class: "gif" %>
      <li class="subheading">Once your friend logs on and accepts your request, the game begins! They'll only see a radius bubble of your location, and will receive alerts based on if they're getting warmer or colder. To make it even more fun, you get to watch their every move! Isn't it entertaining to see your friends struggle?</li>
      <li><%= link_to "Let's Play", new_user_path, class: "btn create-btn" %></li>
    </ul>
  </div>
</div>

</body>
