<div class="background-color">
<div class="container section">
    <!-- INSTRUCTION INTRO  -->
    <section class="row">
        <div class="card section">
            <h5 class="card-title center">Instructions</h5>
            <div class="card-content">
                <p>findMe is a fun way to invite your friends to join you at your current location! Whether it's having a drink, bite to eat, or simply meeting up at a park, findMe is THE way to interact with your friends!</p>
                <p>The rules are simple Invite your friend to meet you at your current location Once you send an invite to your friend,
                    <strong>findMe uses your current location in order to give your friend a rough idea of where you are</strong>
                </p>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="card section">
            <h5 class="card-title center">Starting A Game</h5>
            <div class="card-content">
                <p>Once you (<strong>the hider</strong>) send an invite, you'll see under your
                    <strong>Pending Responses</strong>
                    sections the status of your invite.</p>
                <p>You'll give the seeker the following options:
                    <ol>
                        <li>
                            <strong>Game duration:</strong>
                            How long the seeker has to find you at your location</strong>
                    </li>
                    <li>
                        <strong>Wager:
                        </strong>
                        What is being wagered for victory!
                        <i>A wager can be anything of the hider's choosing</i>
                    </li>
                </ol>
                <p>Once your friend (<strong>the seeker</strong>) accepts the invite you'll be notified the game has began!. Click
                    <i>join</i>
                    to redirect you to the game page!</p>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="card section">
            <h5 class="card-title center">Playing The Game</h5>
            <div class="card-content">
                <p>If you are the hider, you are at the location your friend, the seeker, is trying to find you. The seeker will be given a radius to search for you within but your exact whereabouts will be unknown! Just for fun, you'll be able to see your friend as
                    they wander around searching for you.</p>
            </div>
        </section>

        <section class="row">
            <div class="card section">
                <h5 class="card-title center">How to win</h5>
                <div class="card-content">
                    <p>A winner is declared under the following conditions:
                        <ol>
                            <li>The hider has been found by the seeker.
                                <strong>Seeker wins</strong>
                            </li>
                            <li>The seeker has ran out of time to find the hider.
                                <strong>Hider wins</strong>
                            </li>
                        </ol>
                        <p>The closer the seeker gets to the hider a new
                            <strong>Tier Alert</strong>
                            will be triggered alerting you how far away the seeker is from the hider. The tiers are as follows
                            <ol>
                                <li>
                                    <strong>.5 miles away</strong>
                                </li>
                                <li>
                                    <strong>.25 miles away</strong>
                                </li>
                                <li>
                                    <strong>.1 miles away</strong>
                                </li>
                                <li>
                                    <strong>1000 feet away</strong>
                                </li>
                                <li>
                                    <strong>500 feet away</strong>
                                </li>
                            </ol>
                        </p>
                    </div>
                </section>
                <strong>findMe uses geo-tracking technology in order to provide our users a fun and unique experience to interact with one another. Although making life difficult for your friends can be fun, we encourage you to please play responsibily and only
                    accept/join games with people you know.</strong>
            </div>
</div>
