<!-- Dropdown Structure -->
<ul id="nav-dropdown" class="dropdown-content">
  <% if current_user %>
    <li><%= link_to "Instructions" %></li>
    <li><%= link_to "Logout", logout_path %></li>
    <% else %>
    <li><%= link_to "Create Account", new_user_path %></li>
    <li><%= link_to "Log In", login_path %></li>
  <% end %>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">FINDmE</a>
    <ul class="right">
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="nav-dropdown"><i class="material-icons right">menu</i></a></li>
    </ul>
  </div>
</nav>
